@import "tailwindcss";
@import "tailwindcss-animated";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkest-red: #790000;
  --dark-red: #b81414;
  --red: #ff0d0d;
  --correct: #208f16;
  --incorrect: #b81414;
  --partial: #b88414;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-red: var(--red);
  --color-dark-red: var(--dark-red);
  --color-darkest-red: var(--darkest-red);
  --color-correct: var(--correct);
  --color-incorrect: var(--incorrect);
  --color-partial: var(--partial);

  --animate-red-glow: red-glow 1.5s ease-out infinite alternate;

  @keyframes red-glow {
    from {
      border-color: #b80000;
      box-shadow: 0 0 5px rgba(255, 0, 0, 0.35);
    }
    to {
      border-color: #ff0000;
      box-shadow: 0 0 30px rgba(255, 0, 0, 0.75);
    }
  }
}

@layer utilities {
  .small-caps {
    font-variant: small-caps;
  }

  .box-reflect {
    -webkit-box-reflect: below 5px
      linear-gradient(transparent, rgba(255, 255, 255, 0.25));
  }

  .box-reflect-mask {
    -webkit-box-reflect: below 5px
      linear-gradient(transparent, transparent);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
